<%- include('partial/header') -%>

<div class="container">
  <div class="col-sm-6 col-md-4">
    <form action="/" method="POST" class="form-register">
      <h1>REGISTER HERE</h1>
      <div class="form-group">
        <label for="nam">Full Name:</label>
        <input type="text" name="name" id="name" />
        <div class="name error"></div>
      </div>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" />
        <div class="usernameError"></div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" />
        <div class="email error"></div>
      </div>
      <div class="form-group">
        <label for="dept">Department:</label>
        <input type="text" name="dept" id="dept" />
        <div class="dept error"></div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
        <div class="passwordError"></div>
      </div>

      <button class="btn btn-success">Sign Up</button>
      <p>New user please <a href="login">Log in</a></p>
    </form>
  </div>
</div>
<script>
  const form = document.querySelector("form");
  const username_error = document.querySelector(".usernameError");
  const password_error = document.querySelector(".passwordError");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    // Reset error
    username_error.textContent = "";
    username_error.textContent = "";
    // Get Values
    const name = form.name.value;
    const username = form.username.value;
    const email = form.email.value;
    const dept = form.dept.value;
    const password = form.password.value;
    try {
      const res = await fetch("/signup", {
        method: "POST",
        body: JSON.stringify({ name, username, email, dept, password }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        username_error.textContent = data.errors.username;
        password_error.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign("/");
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>
