<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../index.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Contents</title>
  </head>
  <body class="music-page">
    <main>
      <div class="sidebar px-6">
        <div class="logo">
          <i class="fa-solid fa-user-gear mx-2"></i>
          <div class="logo-name">CHELOYTEC</div>
        </div>

        <i
          class="btn fa-solid fa-bars text-white bg-grey px-4 py-1"
          id="btn"
        ></i>

        <nav>
          <li class="side">
            <a href="/christian"
              ><i class="fa-sharp fa-solid fa-church mx-2"></i>Christian
              Music</a
            >
          </li>
          <li class="side">
            <a href="/hip"
              ><i class="fa-solid fa-clipboard-user mx-2"></i>Trending Hip
              Hop</a
            >
          </li>
          <li class="side">
            <a href="/afro"
              ><i class="fa-solid fa-bolt mx-2"></i>Afro Beat Music</a
            >
          </li>
          <li class="side">
            <a href="/raggae"
              ><i class="fa-regular fa-biohazard mx-2"></i>Raeggae Music</a
            >
          </li>
          <li class="side">
            <a href="/current"
              ><i class="fa-solid fa-land-mine-on mx-2"></i>Current Music</a
            >
          </li>
          <li class="side">
            <a href="/logout"
              ><i class="fa-solid fa-right-from-bracket mx-2"></i>Log Out</a
            >
          </li>
        </nav>
      </div>
      <div class="afro-content">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="player">
              <h4 style="text-align: center">Don William</h4>
              <div class="image-box">
                <img
                  src="https://res.cloudinary.com/cheloytec/image/upload/v1666044296/online-shop/BFitt_p3h9oc.jpg"
                  width="100%"
                  alt="DonWilli"
                />
                <p>Don Williams</p>
                <span style="text-align: justify"
                  >PowerShell detected that you might be using a screen reader
                  and abled PSReadLine for compatibility purposes. If you want
                  to re-enable it,mport-Module PSReadLine</span
                >
              </div>
              <audio
                src="https://res.cloudinary.com/cheloytec/video/upload/v1666043911/online-music/BFitt_p3h9oc.mp3"
                id="audio"
                controls
                width="70%"
              ></audio>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="player">
              <h4 style="text-align: center">Chinyere</h4>
              <div class="image-box">
                <img
                  src="https://res.cloudinary.com/cheloytec/image/upload/v1666044297/online-shop/Chinyere_udoma_Well_Loaded.jpg"
                  width="100%"
                  alt="DonWilli"
                />
                <p>Chinyere Udoma</p>
                <span style="text-align: justify"
                  >PowerShell detected that you might be using a screen reader
                  and abled PSReadLine for compatibility purposes. If you want
                  to re-enable it,mport-Module PSReadLine</span
                >
              </div>
              <audio
                src="https://res.cloudinary.com/cheloytec/video/upload/v1666044015/online-music/Chinyere_udoma_Well_Loaded.mp3"
                id="audio"
                controls
                width="70%"
              ></audio>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="player">
              <h4 style="text-align: center">Jude Nnam</h4>
              <div class="image-box">
                <img
                  src="https://res.cloudinary.com/cheloytec/image/upload/v1666044944/online-shop/Sir-Jude-Nnam-Onyinye-Di-Nma_b6ljtj.jpg"
                  width="100%"
                  alt="DonWilli"
                />
                <p>De Lamb Entertainment</p>
                <span style="text-align: justify"
                  >PowerShell detected that you might be using a screen reader
                  and abled PSReadLine for compatibility purposes. If you want
                  to re-enable it,mport-Module PSReadLine</span
                >
              </div>
              <audio
                src="https://res.cloudinary.com/cheloytec/video/upload/v1666044051/online-music/Chineke_Odogwu___Jude_Nnam_d8wncr.mp3"
                id="audio"
                controls
                width="70%"
              ></audio>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="player">
              <h4 style="text-align: center">De Lamb</h4>
              <div class="image-box">
                <img
                  src="https://res.cloudinary.com/cheloytec/image/upload/v1666044483/online-shop/chineke_m_kaa_midweek_praise.jpg"
                  width="100%"
                  alt="DonWilli"
                />
                <p>Don Williams</p>
                <span style="text-align: justify"
                  >PowerShell detected that you might be using a screen reader
                  and abled PSReadLine for compatibility purposes. If you want
                  to re-enable it,mport-Module PSReadLine</span
                >
              </div>
              <audio
                src="https://res.cloudinary.com/cheloytec/video/upload/v1666044087/online-music/chineke_m_kaa_midweek_praise.mp3"
                id="audio"
                controls
                width="70%"
              ></audio>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="player">
              <h4 style="text-align: center">Don William</h4>
              <div class="image-box">
                <img
                  src="https://res.cloudinary.com/cheloytec/image/upload/v1666044296/online-shop/DonnWil.jpg"
                  width="100%"
                  alt="DonWilli"
                />
                <p>Don Williams</p>
                <span style="text-align: justify"
                  >PowerShell detected that you might be using a screen reader
                  and abled PSReadLine for compatibility purposes. If you want
                  to re-enable it,mport-Module PSReadLine</span
                >
              </div>
              <audio
                src="https://res.cloudinary.com/cheloytec/video/upload/v1665333973/online-music/DonnWil.mp3"
                id="audio"
                controls
                width="70%"
              ></audio>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="js/script.js"></script>
  </body>
</html>
