<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Contents</title>
  </head>
  <body>
    <main>
      <div class="sidebar px-6">
        <nav>
          <li class="side"><a href="#">Christian Music</a></li>
          <li class="side"><a href="#">Trending Hip Hop</a></li>
          <li class="side"><a href="#">Afro Beat Music</a></li>
          <li class="side"><a href="#">Raeggae Music</a></li>
          <li class="side"><a href="#">Current Music</a></li>
        </nav>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <img src="images/m2.jpg" width="200px" alt="" />
            <p>Music Title</p>
            <span>Description</span>
            <audio src="musi/Be_My_Girl.mp3"></audio>
            <button class="btn btn-success">Play</button>
          </div>
          <div class="col-sm-6 col-md-3">
            <img src="images/m2.jpg" width="200px" alt="" />
            <p>Music Title</p>
            <span>Description</span>
            <audio src="musi/Be_My_Girl.mp3"></audio>
            <button class="btn btn-success">Play</button>
          </div>
          <div class="col-sm-6 col-md-3">
            <img src="images/m2.jpg" width="200px" alt="" />
            <p>Music Title</p>
            <span>Description</span>
            <audio src="musi/Be_My_Girl.mp3"></audio>
            <button class="btn btn-success">Play</button>
          </div>
          <div class="col-sm-6 col-md-3">
            <img src="images/m2.jpg" width="200px" alt="" />
            <p>Music Title</p>
            <span>Description</span>
            <audio src="musi/Be_My_Girl.mp3"></audio>
            <button class="btn btn-success">Play</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
