<%- include('partial/header') -%>

<h1 class="marquee">
  <marquee behavior="alternate" direction="left"
    >WELCOME TO OUR PAGE <span>YOU CAN SHOP AT WILL</span>
  </marquee>
</h1>
<div class="home-content">
  <div class="clickme">
    <img src="/images/Marley.jpg" width="10%" alt="" />
    <p>Welcome check our newly products</p>
    <a href="/home" id="view-login" class="btn btn-warning">View us</a>
  </div>
</div>
<%- include('partial/footer') -%>

<script>
  document.getElementById("view-login").addEventListener("click", () => {
    document.querySelector("bg-modal").style.display = "flex";
  });
</script>
